USE [master]
GO
/****** Object:  Database [OneShop]    Script Date: 30/10/2025 4:30:31 PM ******/
CREATE DATABASE [OneShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OneShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OneShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OneShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OneShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OneShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OneShop]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[address_id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](max) NULL,
	[full_name] [nvarchar](100) NULL,
	[is_default] [bit] NULL,
	[phone] [varchar](20) NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [bigint] IDENTITY(1,1) NOT NULL,
	[logo_url] [varchar](255) NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[cart_id] [bigint] NOT NULL,
	[variant_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK64t7ox312pqal3p7fg9o503c2] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[parent_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](1000) NULL,
	[receiver] [varchar](255) NULL,
	[sender] [varchar](255) NULL,
	[timestamp] [datetime2](6) NULL,
	[type] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[price] [numeric](38, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[order_id] [bigint] NOT NULL,
	[variant_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[price_at_purchase] [numeric](38, 2) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[quantity] [int] NOT NULL,
	[order_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[discount_amount] [numeric](19, 2) NULL,
	[order_status] [varchar](50) NOT NULL,
	[payment_method] [varchar](50) NULL,
	[recipient_name] [nvarchar](255) NOT NULL,
	[shipping_address] [nvarchar](500) NULL,
	[shipping_cost] [numeric](19, 2) NULL,
	[shipping_phone] [varchar](20) NOT NULL,
	[subtotal] [numeric](19, 2) NULL,
	[total_amount] [numeric](19, 2) NOT NULL,
	[promotion_id] [bigint] NULL,
	[shipper_id] [bigint] NULL,
	[shipping_company_id] [bigint] NULL,
	[shop_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otps]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otps](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[expires_at] [datetime2](6) NULL,
	[otp_code] [varchar](255) NULL,
	[type] [varchar](255) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_token]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_token](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[expiry_date] [datetime2](6) NOT NULL,
	[token] [varchar](255) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKf90ivichjaokvmovxpnlm5nin] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKg0guo4k8krgpwuagos61oc06j] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NOT NULL,
	[is_primary] [bit] NULL,
	[product_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_reviews]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_reviews](
	[review_id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[rating] [int] NOT NULL,
	[review_date] [datetime2](6) NULL,
	[order_id] [bigint] NULL,
	[product_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variants]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variants](
	[variant_id] [bigint] IDENTITY(1,1) NOT NULL,
	[is_active] [bit] NOT NULL,
	[image_url] [varchar](255) NULL,
	[name] [nvarchar](100) NOT NULL,
	[original_price] [numeric](12, 2) NULL,
	[price] [numeric](12, 2) NOT NULL,
	[sku] [varchar](50) NULL,
	[stock] [int] NOT NULL,
	[product_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[name] [nvarchar](255) NOT NULL,
	[original_price] [numeric](19, 2) NULL,
	[price] [numeric](19, 2) NOT NULL,
	[is_published] [bit] NOT NULL,
	[sales_count] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[stock] [int] NOT NULL,
	[tags] [nvarchar](500) NULL,
	[brand_id] [bigint] NULL,
	[category_id] [bigint] NOT NULL,
	[shop_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion_types]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion_types](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](100) NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKn5jjyo0ykjghqtphpxd7da5le] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[campaign_name] [nvarchar](255) NOT NULL,
	[discount_code] [nvarchar](100) NULL,
	[end_date] [date] NOT NULL,
	[start_date] [date] NOT NULL,
	[value] [numeric](19, 2) NULL,
	[shop_id] [bigint] NOT NULL,
	[promotion_type_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKoph2or8o0dxwc3ky8i2q95sgy] UNIQUE NONCLUSTERED 
(
	[discount_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_media]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_media](
	[media_id] [bigint] IDENTITY(1,1) NOT NULL,
	[media_type] [varchar](20) NULL,
	[media_url] [varchar](255) NOT NULL,
	[review_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_companies]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_companies](
	[shipping_id] [bigint] IDENTITY(1,1) NOT NULL,
	[is_active] [bit] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[phone] [varchar](20) NULL,
	[shipping_company_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[shipping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_rules]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_rules](
	[rule_id] [bigint] IDENTITY(1,1) NOT NULL,
	[base_fee] [numeric](10, 2) NOT NULL,
	[estimated_delivery_time] [nvarchar](50) NULL,
	[from_region] [nvarchar](50) NULL,
	[is_express] [bit] NOT NULL,
	[rule_name] [nvarchar](50) NULL,
	[to_region] [nvarchar](50) NULL,
	[shipping_company_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shops]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shops](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[banner] [varchar](255) NULL,
	[commission_rate] [decimal](5, 4) NOT NULL,
	[commission_updated_at] [datetime2](6) NULL,
	[contact_email] [varchar](255) NULL,
	[contact_phone] [varchar](255) NULL,
	[description] [nvarchar](1000) NULL,
	[logo] [varchar](255) NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKfrcvw4bjeifsxtwi7udccb03u] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 30/10/2025 4:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[activated] [bit] NOT NULL,
	[address] [nvarchar](500) NULL,
	[email] [varchar](150) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[username] [varchar](100) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[shipping_company_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKq935p2d1pbjm39n0063ghnfgn]    Script Date: 30/10/2025 4:30:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKq935p2d1pbjm39n0063ghnfgn] ON [dbo].[product_variants]
(
	[sku] ASC
)
WHERE ([sku] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[shops] ADD  DEFAULT ((0.05)) FOR [commission_rate]
GO
ALTER TABLE [dbo].[addresses]  WITH CHECK ADD  CONSTRAINT [FK1fa36y2oqhao3wgg2rw1pi459] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[addresses] CHECK CONSTRAINT [FK1fa36y2oqhao3wgg2rw1pi459]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK5yyw1o0dor9gmxfra1dqvn4qa] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK5yyw1o0dor9gmxfra1dqvn4qa]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FKsaok720gsu4u2wrgbk10b5n8d] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FKsaok720gsu4u2wrgbk10b5n8d]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK63mqrfva3vf2gx2sublm4m51w] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK63mqrfva3vf2gx2sublm4m51w]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK21gttsw5evi5bbsvleui69d7r] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK21gttsw5evi5bbsvleui69d7r]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK42bki7v5u9s62olp5is82sd74] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK42bki7v5u9s62olp5is82sd74]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKiusu88eqqhbsu0ubqi6k08nub] FOREIGN KEY([shipping_company_id])
REFERENCES [dbo].[shipping_companies] ([shipping_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKiusu88eqqhbsu0ubqi6k08nub]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKmjnf91amspoh2m4qg8ct5y8uj] FOREIGN KEY([shipper_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKmjnf91amspoh2m4qg8ct5y8uj]
GO
ALTER TABLE [dbo].[otps]  WITH CHECK ADD  CONSTRAINT [FKseso6nlp9f5fbuilrngn3pbyi] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[otps] CHECK CONSTRAINT [FKseso6nlp9f5fbuilrngn3pbyi]
GO
ALTER TABLE [dbo].[password_reset_token]  WITH CHECK ADD  CONSTRAINT [FK83nsrttkwkb6ym0anu051mtxn] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[password_reset_token] CHECK CONSTRAINT [FK83nsrttkwkb6ym0anu051mtxn]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FKqnq71xsohugpqwf3c9gxmsuy] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FKqnq71xsohugpqwf3c9gxmsuy]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK35kxxqe2g9r4mww80w9e3tnw9] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK35kxxqe2g9r4mww80w9e3tnw9]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK58i39bhws2hss3tbcvdmrm60f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK58i39bhws2hss3tbcvdmrm60f]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FKkpu8o8nqopc4lcqcfnnlpq5vg] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FKkpu8o8nqopc4lcqcfnnlpq5vg]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [FKosqitn4s405cynmhb87lkvuau] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [FKosqitn4s405cynmhb87lkvuau]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK7kp8sbhxboponhx3lxqtmkcoj] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK7kp8sbhxboponhx3lxqtmkcoj]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKa3a4mpsfdf4d2y6r8ra3sc8mv] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKa3a4mpsfdf4d2y6r8ra3sc8mv]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD  CONSTRAINT [FK1tmgfukvilb2rx2mp4jum295v] FOREIGN KEY([shop_id])
REFERENCES [dbo].[shops] ([id])
GO
ALTER TABLE [dbo].[promotions] CHECK CONSTRAINT [FK1tmgfukvilb2rx2mp4jum295v]
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD  CONSTRAINT [FK95nh8d9m0gqwm6xfbecpoxwtq] FOREIGN KEY([promotion_type_id])
REFERENCES [dbo].[promotion_types] ([id])
GO
ALTER TABLE [dbo].[promotions] CHECK CONSTRAINT [FK95nh8d9m0gqwm6xfbecpoxwtq]
GO
ALTER TABLE [dbo].[review_media]  WITH CHECK ADD  CONSTRAINT [FKajbbjm9tcv6y0do4lv0pokaj1] FOREIGN KEY([review_id])
REFERENCES [dbo].[product_reviews] ([review_id])
GO
ALTER TABLE [dbo].[review_media] CHECK CONSTRAINT [FKajbbjm9tcv6y0do4lv0pokaj1]
GO
ALTER TABLE [dbo].[shipping_companies]  WITH CHECK ADD  CONSTRAINT [FKj8uaf04cxalhsdfnoh11dj81t] FOREIGN KEY([shipping_company_id])
REFERENCES [dbo].[shipping_companies] ([shipping_id])
GO
ALTER TABLE [dbo].[shipping_companies] CHECK CONSTRAINT [FKj8uaf04cxalhsdfnoh11dj81t]
GO
ALTER TABLE [dbo].[shipping_rules]  WITH CHECK ADD  CONSTRAINT [FK419hieje41u4j5inless3ejq0] FOREIGN KEY([shipping_company_id])
REFERENCES [dbo].[shipping_companies] ([shipping_id])
GO
ALTER TABLE [dbo].[shipping_rules] CHECK CONSTRAINT [FK419hieje41u4j5inless3ejq0]
GO
ALTER TABLE [dbo].[shops]  WITH CHECK ADD  CONSTRAINT [FK34po7mmli7wotimo70r6640ap] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[shops] CHECK CONSTRAINT [FK34po7mmli7wotimo70r6640ap]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKiej5hk4j7vf6smpob0hbvxw5u] FOREIGN KEY([shipping_company_id])
REFERENCES [dbo].[shipping_companies] ([shipping_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKiej5hk4j7vf6smpob0hbvxw5u]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKp56c1712k691lhsyewcssf40f] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKp56c1712k691lhsyewcssf40f]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD CHECK  (([type]='LEAVE' OR [type]='JOIN' OR [type]='CHAT'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([order_status]='RETURNED' OR [order_status]='CANCELLED' OR [order_status]='DELIVERED' OR [order_status]='DELIVERING' OR [order_status]='CONFIRMED' OR [order_status]='PENDING'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([status]='REJECTED' OR [status]='SELLING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[review_media]  WITH CHECK ADD CHECK  (([media_type]='VIDEO' OR [media_type]='IMAGE'))
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD CHECK  (([name]='SHIPPER' OR [name]='VENDOR' OR [name]='USER' OR [name]='ADMIN'))
GO
ALTER TABLE [dbo].[shops]  WITH CHECK ADD CHECK  (([status]='INACTIVE' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
USE [master]
GO
