<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" xintegrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/library.css">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/pay.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="header scrolling" id="myHeader">
        <div class="grid wide">
            <div class="header__top">
                <div class="navbar-icon"><span></span><span></span><span></span></div>
                <a th:href="@{/}" class="header__logo"><img th:src="@{/assets/logo.png}" alt="Logo"></a>
                <div class="header__search">
                    <div class="header__search-wrap">
                        <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm...">
                        <a class="header__search-icon" href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <div class="header__account">
                    <a href="#my-Login" class="header__account-login">Đăng Nhập</a>
                    <a href="#my-Register" class="header__account-register">Đăng Kí</a>
                </div>
                <div class="header__cart have">
                    <i class="fas fa-shopping-basket"></i>
                    <div class="header__cart-amount">3</div>
                    <div class="header__cart-wrap">
                        <ul class="order__list">
                            <li class="item-order">
                                <div class="order-wrap">
                                    <a th:href="@{/product}" class="order-img"><img th:src="@{/assets/img/product/product1.jpg}" alt=""></a>
                                    <div class="order-main">
                                        <a th:href="@{/product}" class="order-main-name">Sản phẩm mẫu trong giỏ</a>
                                        <div class="order-main-price">2 x 45,000 ₫</div>
                                    </div>
                                    <a href="#" class="order-close"><i class="far fa-times-circle"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="total-money">Tổng cộng: 120.000đ</div>
                        <a th:href="@{/cart}" class="btn btn--default cart-btn">Xem giỏ hàng</a>
                        <a th:href="@{/pay}" class="btn btn--default cart-btn orange">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item index"><a th:href="@{/}" class="header__nav-link">Trang chủ</a></li>
                <li class="header__nav-item"><a th:href="@{/list-product}" class="header__nav-link">Sản Phẩm</a></li>
                <li class="header__nav-item"><a th:href="@{/news}" class="header__nav-link">Tin Tức</a></li>
                <li class="header__nav-item"><a th:href="@{/contact}" class="header__nav-link">Liên Hệ</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="grid wide">
            <div class="row">
                <div class="col l-7 m-12 s-12">
                    <div class="pay-information">
                        <div class="pay__heading">Thông tin thanh toán</div>
                        <p class="shipping-address-title">
                            <i class="fas fa-map-marker-alt icon-primary"></i> Địa chỉ giao hàng
                        </p>
                        <div class="selected-address-summary">
                            <div>
                                <span class="recipient-info" id="currentRecipient">NHÓM 6 <span class="default-tag">Mặc định</span></span>
                                <div class="address-text" id="currentAddressDetail">Số 1 Võ Văn Ngân, Thủ Đức, TP. Hồ Chí Minh</div>
                            </div>
                            <button class="btn-change-address" id="btnChangeAddress">Thay Đổi</button>
                        </div>
                        <hr class="divider">
                        <div class="payment-method-area">
                            <h3 class="pay__heading-sub">Phương thức Thanh toán</h3>
                            <div class="payment-item">
                                <input type="radio" id="pay-cod" name="payment-method" value="cod" checked>
                                <label for="pay-cod"><i class="fas fa-truck"></i> <span>Thanh toán khi nhận hàng (COD)</span></label>
                            </div>
                            <div class="payment-item">
                                <input type="radio" id="pay-bank" name="payment-method" value="bank">
                                <label for="pay-bank"><i class="fas fa-credit-card"></i> <span>Thanh toán online (Thẻ/Chuyển khoản)</span></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col l-5 m-12 s-12">
                    <div class="pay-order">
                        <div class="pay__heading">Đơn hàng của bạn</div>
                        <div class="order-items-list">
                            <div class="order-item">
                                <img th:src="@{/assets/img/product/product1.jpg}" alt="Product" class="order-item-img">
                                <div class="order-item-info">
                                    <p class="order-item-name">Sữa Rửa Mặt CeraVe Sạch Sâu</p>
                                    <p class="order-item-qty">Số lượng: 1</p>
                                </div>
                                <p class="order-item-price">326.000 ₫</p>
                            </div>
                            <div class="order-item">
                                <img th:src="@{/assets/img/product/product2.jpg}" alt="Product" class="order-item-img">
                                <div class="order-item-info">
                                    <p class="order-item-name">Nước Hoa Hồng Klairs Không Mùi</p>
                                    <p class="order-item-qty">Số lượng: 2</p>
                                </div>
                                <p class="order-item-price">440.000 ₫</p>
                            </div>
                        </div>
                        <hr class="divider-light">
                        <div class="voucher-section">
                            <input type="text" placeholder="Nhập mã giảm giá" class="voucher-input">
                            <button class="btn-apply-voucher">Áp dụng</button>
                        </div>
                        <hr class="divider-light">
                        <div class="pay-info">
                            <div class="main__pay-text">Tạm tính</div>
                            <div class="main__pay-price">766.000 ₫</div>
                        </div>
                        <div class="pay-info">
                            <div class="main__pay-text">Phí vận chuyển</div>
                            <div class="main__pay-price">Miễn phí</div>
                        </div>
                        <hr class="divider-light">
                        <div class="pay-info total-summary">
                            <div class="main__pay-text">Tổng cộng</div>
                            <div class="main__pay-price final-price">766.000 ₫</div>
                        </div>
                        <button class="btn btn--default orange w-100 mt-20">ĐẶT HÀNG</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="grid wide">
            <div class="row">
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Menu</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Trang điểm</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Chăm sóc da</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Chăm sóc tóc</a></li>
                    </ul>
                </div>
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Hỗ trợ khách hàng</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">Hướng dẫn mua hàng</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Chính sách đổi trả</a></li>
                    </ul>
                </div>
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Liên hệ</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><span class="footer__text"><i class="fas fa-map-marked-alt"></i> Số 1 Võ Văn Ngân, Thủ Đức, TP. Hồ Chí Minh</span></li>
                        <li class="footer__item"><a href="mailto:2311xxxx@student.hcmute.edu.vn" class="footer__link"><i class="fas fa-envelope"></i> 2311xxxx@student.hcmute.edu.vn</a></li>
                    </ul>
                </div>
                <div class="col l-3 m-6 s-12">
                    <h3 class="footer__title">Đăng kí nhận tin</h3>
                    <ul class="footer__list">
                        <li class="footer__item"><span class="footer__text">Nhận thông tin ưu đãi mới nhất.</span></li>
                        <li class="footer__item">
                            <div class="send-email">
                                <input class="send-email__input" type="email" placeholder="Nhập Email..."><a href="#" class="send-email__link"><i class="fas fa-paper-plane"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <span class="footer__text"> &copy; Bản quyền thuộc về <a class="footer__link" href="#"> Nhóm 6</a></span>
        </div>
    </div>
    <div class="ModalForm">
        <div class="modal" id="my-Register">
    <a href="#" class="overlay-close"></a>
    <div class="authen-modal register">
        <h3 class="authen-modal__title">Đăng Kí</h3>
        <!-- Thêm thông báo lỗi -->
        <div id="registerError" class="alert alert-danger" role="alert" style="display: none;"></div>
        <form id="registerForm" method="post">
            <div class="form-group">
                <label for="fullName" class="form-label">Họ Tên</label>
                <input id="fullName" name="fullName" type="text" class="form-control" required>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Tài khoản Email *</label>
                <input id="email" name="email" type="email" class="form-control" required>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu *</label>
                <input id="password" name="password" type="password" class="form-control" required>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="form-label">Nhập lại mật khẩu *</label>
                <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" required>
                <span class="form-message"></span>
            </div>
            <div class="authen__btns">
                <button type="submit" class="btn btn--default">Đăng Kí</button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="my-Login">
    <a href="#" class="overlay-close"></a>
    <div class="authen-modal login">
        <h3 class="authen-modal__title">Đăng Nhập</h3>
        <!-- Thêm thông báo lỗi -->
        <div id="loginError" class="alert alert-danger" role="alert" style="display: none;"></div>
        <form id="loginForm" method="post">
            <div class="form-group">
                <label for="account" class="form-label">Địa chỉ email *</label>
                <input id="account" name="account" type="email" class="form-control" required>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu *</label>
                <input id="password" name="password" type="password" class="form-control" required>
                <span class="form-message"></span>
            </div>
            <div class="authen__btns">
                <button type="submit" class="btn btn--default">Đăng Nhập</button>
                <input type="checkbox" class="authen-checkbox" name="remember-me">
                <label class="form-label">Ghi nhớ mật khẩu</label>
            </div>
        </form>
        <a class="authen__link" href="/forgot">Quên mật khẩu ?</a>
    </div>
</div>
        <div class="up-top" id="upTop" onclick="goToTop()">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
    
    <script th:src="@{/assets/js/commonscript.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
<script>
    $(document).ready(function() {
        // Xử lý form đăng ký
        $('#registerForm').submit(function(e) {
            e.preventDefault(); // Ngăn reload trang
            $('#registerError').hide(); // Ẩn lỗi cũ
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/api/auth/signup',
                data: formData,
                success: function(response) {
                    if (response.success) {
                        window.location.href = response.redirect; // Chuyển trang nếu thành công
                    } else {
                        $('#registerError').text(response.message).show(); // Hiển thị lỗi trong modal đăng ký
                    }
                },
                error: function() {
                    $('#registerError').text('Có lỗi xảy ra!').show();
                }
            });
        });

        // Xử lý form đăng nhập
        $('#loginForm').submit(function(e) {
            e.preventDefault(); // Ngăn reload trang
            $('#loginError').hide(); // Ẩn lỗi cũ
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/login',
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest"); // Đánh dấu AJAX
                },
                success: function(response) {
                    if (response.success) {
                        window.location.href = response.redirect; // Chuyển trang nếu thành công
                    } else {
                        $('#loginError').text(response.message).show(); // Hiển thị lỗi trong modal đăng nhập
                    }
                },
                error: function(xhr) {
                    if (xhr.status === 401) {
                        $('#loginError').text('Tài khoản hoặc mật khẩu không chính xác!').show();
                    } else {
                        $('#loginError').text('Có lỗi xảy ra!').show();
                    }
                }
            });
        });
    });
</script>
</body>
</html>

